[submodule "panda"]
	path = panda
	url = https://github.com/commaai/panda.git
[submodule "cereal"]
	path = cereal
	url = https://github.com/commaai/cereal.git
[submodule "opendbc"]
	path = opendbc
	url = https://github.com/commaai/opendbc.git
[submodule "rednose"]
	path = rednose
	url = https://github.com/commaai/rednose.git
